
.icon-menu:before { content: '\f0c9'; } /* '' */
.icon-play:before { content: '\f144'; } /* '' */
.icon-youtube:before { content: '\f16a'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-apple:before { content: '\f179'; } /* '' */
.icon-vimeo:before { content: '\f27d'; } /* '' */
.icon-facebook:before { content: '\f308'; } /* '' */
